<div class="page-container">
  <div class="theme-title">
    投票テーマ作成フォーム
  </div>
  <%= form_with model: @theme, class:"theme-create-form", local: true do |form| %>
    <%= form.label "theme-create-form__input-theme-name", "投票テーマ入力" %>
    <%= form.text_field :name, class: "theme-create-form__input-theme-name" %>

    <div class="input-group-boards">
      <% number_of_groups = 2 %>
      <% number_of_groups.times do |i| %>
        <div class="input-group-board">
          <%= form.label "theme-create-form__input-group-name", "回答#{i}" %><br>
          <%= text_field "group[group#{i}]".to_sym, :name, class: "theme-create-form__input-group-name", placeholder: "例：犬派" %><br>
          <%= form.label "theme-create-form__input-group-message", "メッセージ" %>
          <%= text_area "group[group#{i}]".to_sym, :message, class: "theme-create-form__input-grpup-message", placeholder: "例：かわいい" %><br>
          <label>画像</label><br>
          <input type="file">
        </div>
      <% end %>
    </div>

    <label>
      <div class="theme-create-form__submit"><span>作成！</span></div>
      <%= hidden_field :group, :number_of_groups, value: number_of_groups %>
      <%= form.submit style: "display: none" %>
    </label>
  <% end %>
</div>
