
<div class="page-container">
  <div class="theme-title">
    <%= @theme.name %>
  </div>
  <div class="contents-container">
    <ul class="group-boards">
      <% @theme.groups.each do |group| %>
        <!-- <input name="group_json" type="hidden" value="<%= group.to_json %>" class=""> -->
        <li class="group-board" id="group<%= group.id %>-board" >
          <%= hidden_field_tag("group#{group.id}", group.vote_ratio, id: "group#{group.id}-vote-ratio") %>
          <div class="group-board-top">
            <%= image_tag("https://www.pakutaso.com/shared/img/thumb/KAZTDSCF7026_TP_V.jpg", class: "group-image") %>
            <div class="group-detail">
              <div class="group-detail__title"><%= group.name %></div>
              <div class="group-detail__bar-graph">
                <div class="bar">
                  <div class="score"><%= 0 %>%</div>
                </div>
              <%= form_with url: votes_path(group_id: group.id), local: true do |form| %>
                <%= form.submit "投票", class: "poll-button" %>
              <% end %>
              </div>
            </div>
          </div>
          <div class="group-board-bottom">
            <ul class="comments">
              comments
              <li class="comment">
                <div class="comment__message">
                  テストテストテストテストテストテストテストテスト
                </div>
                <div class="comment__user">
                  <img src="https://ai-catcher.com/wp-content/uploads/icon_74-1.png">
                  <p>nickname</p>
                </div>
              </li>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
